@charset "ISO-8859-1";
.title{
	font-weight: 900; 
}
#topmenu {
    background-color: #98cbd6;
    font-family: sans-serif;
    font-size: 12px;
    border: 1px solid black;
}
#topmenu_wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
#topmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
    z-index: 99999;
	
}
#topmenu ul li {
    display: inline-block;
	border-left: 1px solid #222;
	
}
#topmenu ul li.title:hover {
    background-color: #85bdc5;
}
#topmenu ul li a, visited {
    color: #525151;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#topmenu ul li:hover ul {
    display: block;
}
#topmenu ul ul {
    display: none;
    position: absolute;
    background-color: #85bdc5;
    border: 1px solid #222;
    border-top: 0;
    margin-left: -1px;
}
#topmenu ul ul li {
    display: block;
}
#topmenu ul ul li a:hover {
    color: #fff;
	background-color: #6f98a0;
}