<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gpstest</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>com.nru.test.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.nru.test.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tracking_detail</display-name>
    <servlet-name>tracking_detail</servlet-name>
    <servlet-class>com.nru.test.tracking_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tracking_detail</servlet-name>
    <url-pattern>/tracking_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tracking_history</display-name>
    <servlet-name>tracking_history</servlet-name>
    <servlet-class>com.nru.test.tracking_history</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tracking_history</servlet-name>
    <url-pattern>/tracking_history</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tracking_history_details</display-name>
    <servlet-name>tracking_history_details</servlet-name>
    <servlet-class>com.nru.test.tracking_history_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tracking_history_details</servlet-name>
    <url-pattern>/tracking_history_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>distance_daywise</display-name>
    <servlet-name>distance_daywise</servlet-name>
    <servlet-class>com.nru.test.distance_daywise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>distance_daywise</servlet-name>
    <url-pattern>/distance_daywise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vehicle_summary</display-name>
    <servlet-name>vehicle_summary</servlet-name>
    <servlet-class>com.nru.test.vehicle_summary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vehicle_summary</servlet-name>
    <url-pattern>/vehicle_summary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>com.nru.test.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>geofence_map</display-name>
    <servlet-name>geofence_map</servlet-name>
    <servlet-class>com.nru.test.geofence_map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geofence_map</servlet-name>
    <url-pattern>/geofence_map</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail</display-name>
    <servlet-name>mail</servlet-name>
    <servlet-class>com.nru.test.mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail_details</display-name>
    <servlet-name>mail_details</servlet-name>
    <servlet-class>com.nru.test.mail_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail_details</servlet-name>
    <url-pattern>/mail_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>live_tracking</display-name>
    <servlet-name>live_tracking</servlet-name>
    <servlet-class>com.nru.test.live_tracking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>live_tracking</servlet-name>
    <url-pattern>/live_tracking</url-pattern>
  </servlet-mapping>
</web-app>